# Ignore all .tif files
*.tif

# Ignore specific directories
outputs/
venvs/
vipp_win_venv/
venv/vipp_macos_venv/

# Ignore all files in a directory but not the directory itself
outputs/*/
!outputs/keep_this_directory/

# Ignore specific file types
*.log
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore virtual environment directories
venv/
env/
